.cart {
    position: sticky;
    top: 0;
}
.cart .cart-title {
    text-align: center;
    margin: 30px 0;
    font-size: 25px;
}

.cart-body {
    padding: 20px;
}
.cart-body p {
    margin-top: 15px;
    font-size: 17px;
}
.cart-body h3 {
    font-size: 21px;
    margin: 20px 0;
}
.btn-grp {
    padding: 0 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.order-btn {
    height: 48px;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 17px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.btn-clear-cart {
    background-color: #ff3030;
    cursor: pointer;
}
.btn-review-order {
    background-color: #ff9900;
    text-decoration: none;
}
